<form #postForm="ngForm" class="container">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" ngModel #title="ngModel" [(ngModel)]="post.title " placeholder="Enter title" required minlength="3" />
        <div class="d-flex justify-content-center" *ngIf="title.touched && title.invalid">
            <div *ngIf="title.errors?.['required']">Title is required</div>
            <div *ngIf="title.errors?.['minlength']">Title minlength is {{title.errors?.['minlength'].requiredLength}}
            </div>
        </div>

    </div>


    <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <input type="text" class="form-control" id="body" name="body" ngModel #body="ngModel" [(ngModel)]="post.body" placeholder="Enter body" required minlength="5" />
        <div class="d-flex justify-content-center" *ngIf="body.touched && body.invalid">
            <div *ngIf="body.errors?.['required']">Body is required</div>
            <div *ngIf="body.errors?.['minlength']">Body minlength is {{body.errors?.['minlength'].requiredLength}}
            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>